body > * {
  margin: auto;
  max-width: 700px;
}
body > header {
  margin: 5em auto 5em auto;
}
body > ol {
  list-style-position: inside;
}
body > ol > li > i {
  white-space: nowrap;
}
body > article > header > aside {
  font-style: italic;
}
body > aside {
  margin-top: 5em;
}
body > footer {
  font-style: italic;
  margin: 3em auto 1em auto;
}
pre {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
  -ms-tab-size: 4;
  tab-size: 4;
}
.gist pre {
  white-space: pre;
}
.gist .gist-data.gist-syntax {
  background-color: #ffffcc;
}
