---
layout: default
title: Blog
---
<ol class="articles">
  {% for post in site.categories.articles %}

  {% if forloop.first %}
  <li class="latest">
  {% elsif forloop.index <= 3 %}
  <li class="recent">
  {% else %}
  <li>
  {% endif %}

    <article>
      <header>
        <h1>
          <a href="{{ post.url }}" title="{{ post.title }}">
            {{ post.title }}
          </a>
        </h1>

        {% if forloop.index <= 3 %}
        <h2>
          {{ post.abstract }}
        </h2>
        {% endif %}

        {% if forloop.first %}
        <aside>
          Posted by <a href="mailto:{{ post.author_email }}">{{ post.author }}</a>
          on {{ post.date | date: "%B %d, %Y" }}
        </aside>
        {% endif %}

      </header>

      {% if forloop.first %}
      {{ post.content | strip_html | truncatewords: 20 }}
      {% endif %}

    </article>
  </li>
  {% endfor %}
</ol>