---
layout: default
---
<article>
  <header>
    <h1>
      <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
    </h1>
    <h2>{{ page.abstract }}</h2>
    <aside>
      Posted by <a href="mailto:{{ page.author_email }}">{{ page.author }}</a>
      on {{ page.date | date: "%B %d, %Y" }}
    </aside>
  </header>
  {{ content }}
</article>
{% if page.comments %}
<aside>
  {% case site.comments.provider %}
    {% when "livefyre" %}
      {% include comments/livefyre.html %}
    {% when "disqus" %}
      {% include comments/disqus.html %}
  {% endcase %}
</aside>
{% endif %}