---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Sebastiaan Deckers</title>
  <link rel="icon" type="image/png" href="{{site.baseurl}}images/favicon.png" />
  <link rel="stylesheet" href="{{site.baseurl}}fonts/open-sans.css" />
  <link rel="stylesheet" href="{{site.baseurl}}app.css" />
  <link href="{{site.baseurl}}feed.xml" type="application/atom+xml" rel="alternate" title="The Blog of Sebastiaan Deckers" />
</head>
<body>
  <div id="container">

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">The Blog of Sebastiaan Deckers</a>
      </div>
    </div>

    <div id="main">
      {{content}}
    </div>
  </div>

  <div id="footer">
    <div class="footer-content">
      Blog posts by <a href="mailto:seb@ninja.sg">Sebastiaan Deckers</a>, source code on <a href="http://git.io/seb">GitHub</a>.
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34478357-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>