---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{{ page.title }} | {{ site.owner.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}images/favicon.png" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}app.css" />
  <link href="{{ site.baseurl }}feed.xml" type="application/atom+xml" rel="alternate" title="The Blog of {{ site.owner.name }}" />
</head>
<body>
  <header>
    <h1>
      <a href="{{ site.baseurl }}" class="title">
        The Blog of {{ site.owner.name }}
      </a>
    </h1>
  </header>
  {{content}}
  <footer>
    Content by <a href="{{ site.owner.contact }}">{{ site.owner.name }}</a>,
    published under <a href="{{ site.license.url }}">{{ site.license.name }}</a>,
    code on <a href="{{ site.owner.github }}">GitHub</a>.
  </footer>
  {% case site.analytics.provider %}
    {% when "google" %}
      {% include analytics/google.html %}
  {% endcase %}
</body>
</html>